{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="background-color:grey; color:whitesmoke">
  <div class="row"> <br><br>
    <div class="col-md-12"></div>
  </div>
  <div class="text-center">
    
    <p style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">{{profile.username}}</p>
    <p class="card-text" style="font-size:20px;font-weight:bold;">{{profile.description |safe}}</p>
    <p class="card-text" style="font-size:18px;color:white;font-weight:bold;">Email: {{profile.email}}</p>

  </div>

</div>
{% endblock %}